@import "index/index.min.css";
@import "bootstrap-variables.min.css";
@import "typography.min.css";

.card {
  height: 100%;
}

.card-title {
  margin-right: 24px !important;
}

.accordion-item {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none; /* Remover a borda esquerda */
  border-right: none; /* Remover a borda direita */
}

.accordion-button {
  border-radius: 0; /* Remove o arredondamento das bordas dos botões */
}

.accordion-body {
  line-height: normal;
}
