// Navbar - Index

.navbar {
  background: #fff;
  filter: drop-shadow(0px 2px 32px rgba(0, 0, 0, 0.1));
  height: 80px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 999;

  .container-fluid {
    background: #fff;
    padding: 0 3rem;
  }
}

.navbar-nav {
  align-items: center;
}

.nav-link {
  color: #000;
  padding: 15px !important;
}

.nav-item button {
  margin: 15px;
}

.custom-link {
  color: #000;
  text-decoration: underline;
}

// Layout

.btn {
  border-radius: 7.6px;
  padding: 12px 24px;

  &.btn-dark {
    background: #000;
  }

  &.btn-light {
    background: #fff;
    border: solid 1px #000;
  }
}

// Banner - Section

#banner {
  background: #FAFAFB;
  min-width: fit-content;
  padding: 150px 15% 70px 15%;
}

// Sobre - Section

#sobre {
  padding: 60px 5%;
}

// Soluções - Section

#solucoes {
  background: #FAFAFB;
  border-radius: 7.6px;
  padding: 60px 5%;

  .card {
    border-color: #000;
    border-width: 1.5px;
  }

  .card-body {
    padding: 24px;
  }

  .card-title {
    background: black;
    border-radius: 100%;
    color: #fff;
    height: fit-content;
    padding: 23px 20px;
    width: fit-content;
  }

  .card-subtitle {
    color: #000 !important;
    font-size: 24px;
  }

  .card-text {
    color: #000 !important;
  }
}

// Contato - Section

#contato {
  background: #FAFAFB;
  border-radius: 7.6px;
  padding: 70px 15%;
}

// FAQ - Section

.accordion-button {
  box-shadow: none !important;
}

// Footer - Index

footer {
  align-items: center;
  background: #fff;
  height: 90px;
}
